In [ ]:
team ID -3
semester-5
division-B
school-CSE
Topic ID-5
PROJECT TITLE-Pump it Up:Data Mining The Water Table
Team Leader-Krutika M K
Team members- 1)Shriya hireholi r.no-79  USN-01FE16BCS079
              2)Kartik R D      r.no-89  USN-01FE16BCS089
              3)Krutika M K     r.no-94  USN-01FE16BCS094
              4)Mahim Patil     r.no-97  USN-01FE16BCS097

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#load the training data
train_values = pd.read_csv('training_set_values.csv')

In [4]:
#load the training set labels
train_labels = pd.read_csv('training_set_labels.csv')

In [5]:
#combine training and the labels for it
combined = train_values.merge(train_labels, on='id')

In [6]:
#check it worked
print(combined.head())
print(combined.shape)

      id  amount_tsh date_recorded        funder  gps_height     installer  \
0  69572      6000.0    2011-03-14         Roman        1390         Roman
1   8776         0.0    2013-03-06       Grumeti        1399       GRUMETI
2  34310        25.0    2013-02-25  Lottery Club         686  World vision
3  67743         0.0    2013-01-28        Unicef         263        UNICEF
4  19728         0.0    2011-07-13   Action In A           0       Artisan

   longitude   latitude              wpt_name  num_private       ...        \
0  34.938093  -9.856322                  none            0       ...
1  34.698766  -2.147466              Zahanati            0       ...
2  37.460664  -3.821329           Kwa Mahundi            0       ...
3  38.486161 -11.155298  Zahanati Ya Nanyumbu            0       ...
4  31.130847  -1.825359               Shuleni            0       ...

  water_quality quality_group      quantity  quantity_group  \
0          soft          good        enough          enough
1          soft          good  insufficient    insufficient
2          soft          good        enough          enough
3          soft          good           dry             dry
4          soft          good      seasonal        seasonal

                 source           source_type source_class  \
0                spring                spring  groundwater
1  rainwater harvesting  rainwater harvesting      surface
2                   dam                   dam      surface
3           machine dbh              borehole  groundwater
4  rainwater harvesting  rainwater harvesting      surface

               waterpoint_type waterpoint_type_group    status_group
0           communal standpipe    communal standpipe      functional
1           communal standpipe    communal standpipe      functional
2  communal standpipe multiple    communal standpipe      functional
3  communal standpipe multiple    communal standpipe  non functional
4           communal standpipe    communal standpipe      functional

[5 rows x 41 columns]
(59400, 41)

In [7]:
#start to remove unnecessary features

In [8]:
#recorded_by has no unique values
combined['recorded_by'].unique()

array(['GeoData Consultants Ltd'], dtype=object)

In [9]:
combined.drop('recorded_by', axis=1, inplace=True)

In [10]:
c = combined
c = c[c.amount_tsh==0]
len(c)

41639

In [11]:
#dropping this column because too many missing values
combined.drop('amount_tsh', axis=1, inplace=True)

In [12]:
#doing the same with public meeting and permit columns
combined.drop('public_meeting', axis=1, inplace=True)
combined.drop('permit', axis=1, inplace=True)

In [13]:
#look at categorical predictors that show similar information
#start with extraction_type, extraction_type_group, and extraction_type_class

d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type            extraction_type_group  extraction_type_class
afridev                    afridev                handpump                  1770
cemo                       other motorpump        motorpump                   90
climax                     other motorpump        motorpump                   32
gravity                    gravity                gravity                  26780
india mark ii              india mark ii          handpump                  2400
india mark iii             india mark iii         handpump                    98
ksb                        submersible            submersible               1415
mono                       mono                   motorpump                 2865
nira/tanira                nira/tanira            handpump                  8154
other                      other                  other                     6430
other - mkulima/shinyanga  other handpump         handpump                     2
other - play pump          other handpump         handpump                    85
other - rope pump          rope pump              rope pump                  451
other - swn 81             other handpump         handpump                   229
submersible                submersible            submersible               4764
swn 80                     swn 80                 handpump                  3670
walimi                     other handpump         handpump                    48
windmill                   wind-powered           wind-powered               117
dtype: int64

In [14]:
# Group low occuring counts together or into related groups
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

combined['extraction_type'][combined.extraction_type.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type_class'][combined.extraction_type_class.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type'][combined.extraction_type.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type'][combined.extraction_type.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type'][combined.extraction_type.isin(['other - swn 81','swn 80'])] = 'swn'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - swn 81','swn 80'])] = 'swn'

In [15]:
#check it worked
d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type    extraction_type_group  extraction_type_class
afridev            afridev                handpump                  1770
gravity            gravity                gravity                  26780
handpump           other handpump         handpump                   135
india mark         india mark ii          handpump                  2400
                   india mark iii         handpump                    98
ksb                submersible            submersible               1415
mono               mono                   motorpump                 2865
motorpump          other motorpump        motorpump                  122
nira/tanira        nira/tanira            handpump                  8154
other              other                  other                     6430
other - rope pump  rope pump              rope pump                  451
submersible        submersible            submersible               4764
swn                other handpump         handpump                   229
                   swn 80                 handpump                  3670
windmill           wind-powered           wind-powered               117
dtype: int64

In [16]:
#remove extraction_type_group
combined.drop('extraction_type_group', axis=1, inplace=True)

In [17]:
d = combined
d.groupby(['management', 'management_group']).size()

management        management_group
company           commercial            685
other             other                 844
other - school    other                  99
parastatal        parastatal           1768
private operator  commercial           1971
trust             commercial             78
unknown           unknown               561
vwc               user-group          40507
water authority   commercial            904
water board       user-group           2933
wua               user-group           2535
wug               user-group           6515
dtype: int64

In [18]:
d = combined
d.groupby(['scheme_management', 'scheme_name']).size()

scheme_management  scheme_name
Company            BFFS                              1
                   Bagamoyo Wate                    60
                   Bagamoyo wate                   210
                   Borehole                          1
                   Borehole drilling project         1
                   Bulamba piped scheme              2
                   Burieni water supply              1
                   Doe water supply                  3
                   EKTM 2 water  supply              1
                   EKTM 2 water suply               25
                   EKTM 2 water supply               9
                   EKTM 3 water supply              51
                   Fufulamsuri water supply          1
                   GRUMETI                           6
                   HESAWA                            1
                   Hakwe water supply               10
                   Holili water supply              23
                   I                                 1
                   IKTM 2                            1
                   IKTM 2 water supply               1
                   IKTM 3 water supply               1
                   Ibukoni kimanga water supply      1
                   Iburieni water supply             6
                   Ihum                              1
                   Ikela Wa                         89
                   It                                1
                   Kamdawi water supply              8
                   Kandika water supply              4
                   Kaseni water supply               1
                   Kastamu water supply              8
                                                  ...
Water authority    Shirimatunda Water Supply        16
                   Shirimatunda water Supply        58
                   Shirimatunda water supply         1
                   Singino                           1
                   Sinyanga water supplied sch       4
                   Submersible                       1
                   Sui                               1
                   Suwasa water supply               8
                   TWESA                             1
                   Tank fu Mwenge                    1
                   Tank fupi Mwenge                  8
                   Tank refu Kasokola                4
                   Tank refu Mtakuja                 6
                   Tank refu Sitalike                7
                   Tungu water piped scheme          1
                   Tutu                             25
                   UWAMAMA                           4
                   Urambo water supply              15
                   Vumari water supply              11
                   Vunta water supply               11
                   WD                                1
                   Water from DAWASCO               28
                   World Bank                       60
                   World Vision                      8
                   World vision                      1
                   Yongoma                          16
                   Zepalama                          5
                   no scheme                         9
                   pump                              2
                   water supply at Kalebejo          1
Length: 3077, dtype: int64

In [19]:
#remove scheme_name because too many different scheme types
combined.drop('scheme_name', axis=1, inplace=True)

In [66]:
combined['scheme_management']

0                     vwc
1                   other
2                     vwc
3                     vwc
4                   other
5                     vwc
6                     vwc
7                   other
8                     vwc
9                   other
10       private operator
11                    wug
12                    wug
13            water board
14                    wug
15                    vwc
16                    wua
17                    wua
18                  other
19                    vwc
20                    vwc
21                    wug
22                    wua
23        water authority
24                    vwc
25                    vwc
26                    vwc
27                  other
28                company
29            water board
               ...
59370               other
59371                 wug
59372    private operator
59373                 vwc
59374                 wug
59375                 vwc
59376                 vwc
59377     water authority
59378                 vwc
59379                 vwc
59380                 vwc
59381                 vwc
59382         water board
59383               other
59384                 vwc
59385                 wug
59386                 vwc
59387                 wua
59388                 vwc
59389                 vwc
59390                 vwc
59391     water authority
59392                 vwc
59393     water authority
59394                 vwc
59395         water board
59396                 vwc
59397                 vwc
59398                 vwc
59399                 vwc
Name: scheme_management, Length: 59400, dtype: object

In [20]:
d = combined
d.groupby(['payment', 'payment_type']).size()

payment                payment_type
never pay              never pay       25348
other                  other            1054
pay annually           annually         3642
pay monthly            monthly          8300
pay per bucket         per bucket       8985
pay when scheme fails  on failure       3914
unknown                unknown          8157
dtype: int64

In [21]:
# these look the same so we can drop payment
combined.drop('payment', axis=1, inplace=True)

In [22]:
d = combined
d.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [23]:
#these look the same as well 
#keep the one with more description
combined.drop('quality_group', axis=1, inplace=True)

In [24]:
d = combined
d.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [25]:
#these look the same as well 
#keep quantity
combined.drop('quantity_group', axis=1, inplace=True)

In [26]:
d = combined
d.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [27]:
#remove source_type
combined.drop('source_type', axis=1, inplace=True)

In [28]:
d = combined
d.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [29]:
#drop one
combined.drop('waterpoint_type_group', axis=1, inplace=True)

In [30]:
#looking at geographic info now

In [31]:
d = combined
d.groupby(['region', 'region_code', 'district_code']).size()
#regions have unique codes but district codes repeat within regions

region         region_code  district_code
Arusha         2            1                 189
                            2                1206
                            3                 109
                            5                 201
                            6                 310
                            7                1009
               24           30                326
Dar es Salaam  7            1                  93
                            2                 497
                            3                 215
Dodoma         1            0                  23
                            1                 888
                            3                 361
                            4                 347
                            5                 358
                            6                 224
Iringa         11           1                 728
                            2                 530
                            3                 650
                            4                2473
                            5                 564
                            7                 349
Kagera         18           1                 771
                            2                 487
                            3                 402
                            4                 403
                            6                  88
                            7                 260
                            8                 236
                            30                669
                                             ...
Shinyanga      11           3                   3
                            4                   3
               14           4                  20
               17           1                1196
                            2                 802
                            3                1401
                            5                 514
                            6                 453
                            7                 191
                            8                 387
                            80                 12
Singida        13           1                 544
                            2                 995
                            3                 377
                            4                 177
Tabora         14           1                 574
                            2                 339
                            3                 337
                            4                 382
                            5                 170
                            6                 157
Tanga          4            1                 698
                            2                 408
                            3                 323
                            4                 110
                            5                 293
                            6                 266
                            7                 127
                            8                 288
               5            1                  34
Length: 137, dtype: int64

In [67]:
combined['lga']

0                  ludewa
1               serengeti
2               simanjiro
3                nanyumbu
4                 karagwe
5                  mkinga
6         shinyanga rural
7                  kahama
8            tabora urban
9                 karagwe
10               mkuranga
11               namtumbo
12                  maswa
13                   siha
14                  meatu
15       sumbawanga rural
16                 njombe
17                 njombe
18                ukerewe
19                 ludewa
20                 njombe
21                bariadi
22                 njombe
23                   same
24           kigoma rural
25            moshi rural
26            lindi rural
27                karagwe
28                  rombo
29                   siha
               ...
59370              kasulu
59371               maswa
59372              urambo
59373              mpanda
59374             bariadi
59375               tanga
59376       singida rural
59377              igunga
59378              njombe
59379              muleba
59380              ludewa
59381              mkinga
59382         moshi rural
59383         lindi urban
59384               ngara
59385               bunda
59386    sumbawanga rural
59387               ilala
59388             kibondo
59389               nkasi
59390    sumbawanga rural
59391                same
59392              chunya
59393              igunga
59394             mvomero
59395                 hai
59396              njombe
59397             mbarali
59398            chamwino
59399      morogoro rural
Name: lga, Length: 59400, dtype: object

In [33]:
#use lga column to create new feature: rural, urban, other
def get_setting(x):
    x=str(x)
    if x.find('Rural') >= 0: return 'rural'
    if x.find('Urban') >= 0: return 'urban'
    return 'other'

In [34]:
combined['rural_urban'] = combined.lga.apply(get_setting)

In [35]:
combined['rural_urban'].value_counts()
#this may not be all that useful as most are in the other column, but will be easy to encode later for random forest

other    48165
rural     9552
urban     1683
Name: rural_urban, dtype: int64

In [36]:
print(type(combined.date_recorded))
print(type(combined.construction_year))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [37]:
#use date time function in pandas
## Change dates to specific format
combined['date_recorded'] = pd.to_datetime(combined['date_recorded'])
combined['construction_year'] = combined.construction_year.map(lambda x: np.nan if x == 0 else x)

In [38]:
combined['operation_year'] = combined.date_recorded.dt.year - combined.construction_year

In [39]:
#print(type(combined.date_recorded))
combined[['operation_year', 'date_recorded', 'construction_year']].head(10)

   operation_year date_recorded  construction_year
0            12.0    2011-03-14             1999.0
1             3.0    2013-03-06             2010.0
2             4.0    2013-02-25             2009.0
3            27.0    2013-01-28             1986.0
4             NaN    2011-07-13                NaN
5             2.0    2011-03-13             2009.0
6             NaN    2012-10-01                NaN
7             NaN    2012-10-09                NaN
8             NaN    2012-11-03                NaN
9             NaN    2011-08-03                NaN

In [40]:
#create season variable 
#look at monthly counts for reference
combined.date_recorded.dt.month.value_counts().sort_index()

1      6354
2     12402
3     17936
4      3970
5       336
6       346
7      6928
8      3364
9       328
10     5466
11     1349
12      621
Name: date_recorded, dtype: int64

In [41]:
combined['month_recorded'] = combined.date_recorded.dt.month

In [42]:
#Jan and Feb short dry season
#long rains lasts during about March, April and May 
#long dry season lasts throughout June, July, August, September and October 
#During November and December there's another rainy season: the 'short rains'

In [43]:
def get_season (x):
    if x <= 2: return 1 #short dry season 
    elif x <= 5: return 2 #long rains
    elif x <= 10: return 3 #long dry season
    elif x<= 12: return 4 # short rains
    return

In [44]:
#apply function and create new column
combined['season']=combined.month_recorded.apply(get_season)

In [45]:
combined.season.value_counts()

2    22242
1    18756
3    16432
4     1970
Name: season, dtype: int64

In [46]:
#For every categorical response, convert the levels to lower case, in case there is random capitalization
combined.installer = combined.installer.str.lower()
combined.funder = combined.funder.str.lower()
combined.wpt_name = combined.wpt_name.str.lower()
combined.basin = combined.basin.str.lower()
combined.subvillage = combined.subvillage.str.lower()
combined.region = combined.region.str.lower()
combined.lga = combined.lga.str.lower()
combined.ward = combined.ward.str.lower()
combined.management = combined.management.str.lower()
combined.management_group = combined.management_group.str.lower()
combined.scheme_management = combined.scheme_management.str.lower()

In [47]:
#probably not the most elegant but i'm filling NaN with zeros to impute mean coordinates, population, and construction year where missing
combined['longitude'].replace('0', np.nan, inplace=True)
combined['latitude'].replace('0', np.nan, inplace=True)
combined['gps_height'].replace('0', np.nan, inplace=True)
combined['construction_year'].replace('0', np.nan, inplace=True)
combined['operation_year'].replace('0', np.nan, inplace=True)
combined['population'].replace('0', np.nan, inplace=True)

In [48]:
# Compute average longitude and latitude in districts within region to subsitute for zero values found
#impute mean for location coordinates, year, and population using groupby for region and district
#when the district code info isn't available I impute just the regional mean
combined["latitude"].fillna(combined.groupby(['region', 'district_code'])["latitude"].transform("mean"), inplace=True)
combined["longitude"].fillna(combined.groupby(['region', 'district_code'])["longitude"].transform("mean"), inplace=True)
combined["longitude"].fillna(combined.groupby(['region'])["longitude"].transform("mean"), inplace=True)
combined["gps_height"].fillna(combined.groupby(['region', 'district_code'])["gps_height"].transform("mean"), inplace=True)
combined["gps_height"].fillna(combined.groupby(['region'])["gps_height"].transform("mean"), inplace=True)
combined["gps_height"].fillna(combined["gps_height"].mean(), inplace=True)
combined["construction_year"].fillna(combined["construction_year"].mean(), inplace=True)
combined["population"].fillna(combined.groupby(['region', 'district_code'])["population"].transform("mean"), inplace=True)
combined["population"].fillna(combined.groupby(['region'])["population"].transform("mean"), inplace=True)
combined["population"].fillna(combined["population"].mean(), inplace=True)

In [49]:
combined["funder"].fillna("other", inplace=True)
combined["installer"].fillna("other", inplace=True)
combined["scheme_management"].fillna("other", inplace=True)
combined["subvillage"].fillna("other", inplace=True)

In [50]:
#recalculate operation year
combined['operation_year'] = combined.date_recorded.dt.year - combined.construction_year

In [51]:
#look at missing vals
combined.isnull().sum()

id                       0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
scheme_management        0
construction_year        0
extraction_type          0
extraction_type_class    0
management               0
management_group         0
payment_type             0
water_quality            0
quantity                 0
source                   0
source_class             0
waterpoint_type          0
status_group             0
rural_urban              0
operation_year           0
month_recorded           0
season                   0
dtype: int64

In [52]:
len(list(combined))
#started with 40 columns, now have 34

34

In [53]:
#export cleaned df - have removed a few features and engineered a few
#will clean both test and train dfs this way
#to clean the test set i did this process again with the test set values
pd.DataFrame(combined).to_csv("cleaned_v2.csv")

In [62]:
combined

,id,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,water_quality,quantity,source,source_class,waterpoint_type,status_group,rural_urban,operation_year,month_recorded,season
0,69572,2011-03-14,roman,1390,roman,34.938093,-9.856322e+00,none,0,lake nyasa,...,soft,enough,spring,groundwater,communal standpipe,functional,other,12.000000,3,2
1,8776,2013-03-06,grumeti,1399,grumeti,34.698766,-2.147466e+00,zahanati,0,lake victoria,...,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional,other,3.000000,3,2
2,34310,2013-02-25,lottery club,686,world vision,37.460664,-3.821329e+00,kwa mahundi,0,pangani,...,soft,enough,dam,surface,communal standpipe multiple,functional,other,4.000000,2,1
3,67743,2013-01-28,unicef,263,unicef,38.486161,-1.115530e+01,zahanati ya nanyumbu,0,ruvuma / southern coast,...,soft,dry,machine dbh,groundwater,communal standpipe multiple,non functional,other,27.000000,1,1
4,19728,2011-07-13,action in a,0,artisan,31.130847,-1.825359e+00,shuleni,0,lake victoria,...,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional,other,14.185314,7,3
5,9944,2011-03-13,mkinga distric coun,0,dwe,39.172796,-4.765587e+00,tajiri,0,pangani,...,salty,enough,other,unknown,communal standpipe multiple,functional,other,2.000000,3,2
6,19816,2012-10-01,dwsp,0,dwsp,33.362410,-3.766365e+00,kwa ngomho,0,internal,...,soft,enough,machine dbh,groundwater,hand pump,non functional,rural,15.185314,10,3
7,54551,2012-10-09,rwssp,0,dwe,32.620617,-4.226198e+00,tushirikiane,0,lake tanganyika,...,milky,enough,shallow well,groundwater,hand pump,non functional,other,15.185314,10,3
8,53934,2012-11-03,wateraid,0,water aid,32.711100,-5.146712e+00,kwa ramadhan musa,0,lake tanganyika,...,salty,seasonal,machine dbh,groundwater,hand pump,non functional,urban,15.185314,11,4
9,46144,2011-08-03,isingiro ho,0,artisan,30.626991,-1.257051e+00,kwapeto,0,lake victoria,...,soft,enough,shallow well,groundwater,hand pump,functional,other,14.185314,8,3
10,49056,2011-02-20,private,62,private,39.209518,-7.034139e+00,mzee hokororo,0,wami / ruvu,...,salty,enough,machine dbh,groundwater,other,functional,other,0.000000,2,1
11,50409,2013-02-18,danida,1062,danida,35.770258,-1.057417e+01,kwa alid nchimbi,0,lake nyasa,...,soft,insufficient,shallow well,groundwater,hand pump,functional,other,26.000000,2,1
12,36957,2012-10-14,world vision,0,world vision,33.798106,-3.290194e+00,pamba,0,internal,...,soft,enough,shallow well,groundwater,hand pump,functional,other,15.185314,10,3
13,50495,2013-03-15,lawatefuka water supply,1368,lawatefuka water sup,37.092574,-3.181783e+00,kwa john izack mmari,0,pangani,...,soft,enough,spring,groundwater,communal standpipe,functional,other,4.000000,3,2
14,53752,2012-10-20,biore,0,wedeco,34.364073,-3.629333e+00,mwabasabi,0,internal,...,soft,enough,shallow well,groundwater,hand pump,functional,other,15.185314,10,3
15,61848,2011-08-04,rudep,1645,dwe,31.444121,-8.274962e+00,kwa juvenal ching'ombe,0,lake tanganyika,...,soft,enough,machine dbh,groundwater,hand pump,functional,rural,20.000000,8,3
16,48451,2011-07-04,unicef,1703,dwe,34.642439,-9.106185e+00,kwa john mtenzi,0,rufiji,...,soft,dry,river,surface,communal standpipe,non functional,other,33.000000,7,3
17,58155,2011-09-04,unicef,1656,dwe,34.569266,-9.085515e+00,kwa rose chaula,0,rufiji,...,soft,dry,river,surface,communal standpipe,non functional,other,33.000000,9,3
18,34169,2011-07-22,hesawa,1162,dwe,32.920154,-1.947868e+00,ngomee,0,lake victoria,...,milky,insufficient,spring,groundwater,other,functional needs repair,other,12.000000,7,3
19,18274,2011-02-22,danida,1763,danid,34.508967,-9.894412e+00,none,0,lake nyasa,...,soft,enough,spring,groundwater,communal standpipe,functional,other,19.000000,2,1
20,48375,2011-02-27,twe,2216,twe,34.473430,-9.594990e+00,none,0,lake nyasa,...,soft,enough,spring,groundwater,communal standpipe,functional,other,3.000000,2,1
21,6091,2013-02-10,dwsp,0,dwe,0.000000,-2.000000e-08,muungano,0,lake victoria,...,unknown,unknown,shallow well,groundwater,hand pump,functional,other,16.185314,2,1
22,58500,2011-10-04,unicef,1510,dwe,34.586901,-8.980014e+00,shuleni,0,rufiji,...,soft,enough,river,surface,communal standpipe,functional needs repair,other,33.000000,10,3
23,37862,2013-11-03,isf,672,isf,37.940029,-4.125595e+00,kinonga,0,pangani,...,soft,enough,river,surface,communal standpipe,functional,other,2.000000,11,4
24,51058,2013-01-21,african development bank,1645,dwe,29.747066,-4.495568e+00,kamsasa,0,lake tanganyika,...,soft,enough,spring,groundwater,improved spring,functional,rural,4.000000,1,1
25,22308,2013-02-25,government of tanzania,1273,dwe,37.422751,-3.317536e+00,kwa tukai,0,pangani,...,soft,enough,spring,groundwater,communal standpipe,functional needs repair,rural,39.000000,2,1
26,55012,2013-01-16,sobodo,200,kilolo star,39.370777,-9.942532e+00,ruhoma primary school,0,ruvuma / southern coast,...,soft,enough,machine dbh,groundwater,hand pump,functional,rural,2.000000,1,1
27,20145,2011-07-11,hesawa,0,dwe,31.104257,-1.735361e+00,kwawilliam,0,lake victoria,...,soft,enough,shallow well,groundwater,hand pump,functional,other,14.185314,7,3
28,19685,2013-03-05,government of tanzania,1443,district council,37.611126,-3.263526e+00,kwa kibakaya,0,pangani,...,soft,insufficient,spring,groundwater,communal standpipe,non functional,other,13.000000,3,2
29,69124,2013-03-16,lawatefuka water supply,1256,lawatefuka water sup,37.061688,-3.191989e+00,kwa willium kinda,0,pangani,...,soft,enough,spring,groundwater,communal standpipe,functional,other,11.000000,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,14796,2013-01-29,other,1154,other,30.058731,-4.902633e+00,village office,0,lake tanganyika,...,unknown,unknown,unknown,unknown,other,functional,other,16.185314,1,1
59371,20387,2012-10-09,netherlands,0,dwe,33.586406,-3.040369e+00,ushirika,0,lake victoria,...,soft,enough,shallow well,groundwater,hand pump,non functional,other,15.185314,10,3
59372,29940,2012-10-31,tlc,0,tlc,32.058548,-5.052101e+00,kwa mzee kamanya,0,lake tanganyika,...,salty,insufficient,shallow well,groundwater,other,non functional,other,15.185314,10,3
59373,15233,2013-01-30,rudep,1137,distri,32.125024,-6.784358e+00,kwa kadiega,0,lake rukwa,...,soft,enough,machine dbh,groundwater,hand pump,functional,other,25.000000,1,1
59374,49651,2012-10-29,rwssp,0,dwe,0.000000,-2.000000e-08,nguvu kazi,0,lake victoria,...,soft,enough,shallow well,groundwater,hand pump,functional,other,15.185314,10,3
59375,50998,2011-08-03,government of tanzania,54,dwe,39.046942,-5.061494e+00,sekondari,0,pangani,...,soft,enough,river,surface,communal standpipe,functional,other,6.000000,8,3
59376,34716,2013-02-03,other,1581,other,34.821039,-5.076258e+00,nasingo,0,internal,...,unknown,dry,shallow well,groundwater,other,non functional,rural,23.000000,2,1
59377,43986,2012-10-23,government of tanzania,0,government,33.437012,-4.423594e+00,fpct,0,internal,...,soft,insufficient,dam,surface,communal standpipe multiple,non functional,other,15.185314,10,3
59378,38067,2011-03-21,rc,2101,acra,34.620387,-9.358405e+00,michael msigwa,0,rufiji,...,soft,enough,spring,groundwater,communal standpipe,functional,other,3.000000,3,2
59379,58255,2011-07-13,do,0,do,31.613284,-1.820226e+00,coffee plantati,0,lake victoria,...,soft,enough,spring,groundwater,communal standpipe,functional,other,14.185314,7,3
59380,30647,2011-03-14,roman,1439,roman,34.942101,-9.849198e+00,none,0,lake nyasa,...,soft,dry,spring,groundwater,communal standpipe,non functional,other,12.000000,3,2
59381,67885,2011-03-16,mkinga distric coun,0,dwe,38.835001,-4.880204e+00,mijohoroni,0,pangani,...,soft,insufficient,spring,groundwater,communal standpipe,non functional,other,19.000000,3,2
59382,47002,2013-08-03,ces(gmbh),1383,dwe,37.454759,-3.323599e+00,kwa luka msaki,0,pangani,...,soft,enough,spring,groundwater,communal standpipe,non functional,rural,5.000000,8,3
59383,44616,2013-01-19,world bank,11,world bank,39.626009,-1.005750e+01,shuleni,0,ruvuma / southern coast,...,soft,enough,rainwater harvesting,surface,hand pump,functional,urban,5.000000,1,1
59384,72148,2011-07-10,concern,0,concern,30.667805,-2.483710e+00,chamkube,0,lake victoria,...,soft,insufficient,spring,groundwater,communal standpipe,non functional,other,14.185314,7,3
59385,34473,2012-11-03,jaica,1327,jaica co,33.951681,-2.021854e+00,kwa marunda,0,lake victoria,...,salty,enough,machine dbh,groundwater,hand pump,functional,other,1.000000,11,4
59386,34952,2011-08-22,adb,1786,dwe,31.738789,-8.532013e+00,shule ya sekondari katazi,0,lake rukwa,...,soft,enough,machine dbh,groundwater,hand pump,functional,rural,2.000000,8,3
59387,26640,2013-03-12,0,25,0,39.176480,-6.957098e+00,kwa maliba,0,wami / ruvu,...,soft,enough,machine dbh,groundwater,communal standpipe,functional,other,13.000000,3,2
59388,72559,2013-01-29,kidep,1414,dwe,30.692400,-3.593827e+00,kwa philipo kibeba,0,lake tanganyika,...,soft,insufficient,spring,groundwater,improved spring,functional,other,18.000000,1,1
59389,30410,2011-08-06,co,783,dwe,30.646486,-7.365418e+00,sekondari,0,lake tanganyika,...,soft,enough,machine dbh,groundwater,hand pump,functional,other,2.000000,8,3
59390,13677,2011-08-04,rudep,1715,dwe,31.370848,-8.258160e+00,kwa mzee atanas,0,lake tanganyika,...,soft,insufficient,machine dbh,groundwater,hand pump,functional,rural,20.000000,8,3
59391,44885,2013-08-03,government of tanzania,540,government,38.044070,-4.272218e+00,kwa,0,pangani,...,soft,enough,river,surface,communal standpipe,non functional,other,46.000000,8,3
59392,40607,2011-04-15,government of tanzania,0,government,33.009440,-8.520888e+00,benard charles,0,lake rukwa,...,soft,enough,spring,groundwater,communal standpipe,non functional,other,14.185314,4,2
59393,48348,2012-10-27,private,0,private,33.866852,-4.287410e+00,kwa peter,0,internal,...,soft,insufficient,dam,surface,other,functional,other,15.185314,10,3
59394,11164,2011-03-09,world bank,351,ml appro,37.634053,-6.124830e+00,chimeredya,0,wami / ruvu,...,soft,enough,machine dbh,groundwater,communal standpipe,non functional,other,4.000000,3,2
59395,60739,2013-05-03,germany republi,1210,ces,37.169807,-3.253847e+00,area three namba 27,0,pangani,...,soft,enough,spring,groundwater,communal standpipe,functional,other,14.000000,5,2
59396,27263,2011-05-07,cefa-njombe,1212,cefa,35.249991,-9.070629e+00,kwa yahona kuvala,0,rufiji,...,soft,enough,river,surface,communal standpipe,functional,other,15.000000,5,2
59397,37057,2011-04-11,other,0,other,34.017087,-8.750434e+00,mashine,0,rufiji,...,fluoride,enough,machine dbh,groundwater,hand pump,functional,other,14.185314,4,2
59398,31282,2011-03-08,malec,0,musa,35.861315,-6.378573e+00,mshoro,0,rufiji,...,soft,insufficient,shallow well,groundwater,hand pump,functional,other,14.185314,3,2
59399,26348,2011-03-23,world bank,191,world,38.104048,-6.747464e+00,kwa mzee lugawa,0,wami / ruvu,...,salty,enough,shallow well,groundwater,hand pump,functional,rural,9.000000,3,2

In [1]:
def remove_outliers(df, column, min_val, max_val):
    col_values = df[column].values
    df[column] = np.where(np.logical_or(col_values<=min_val, col_values>=max_val), np.NaN, col_values)
    return df